doctype html
html
  head
    title="KOIOS Klicker"

    // Load external libraries
    script(src="javascripts/socket.io-client/socket.io.js")

    // Load KoiosKlicker resources
    link(rel="stylesheet", href="stylesheets/KoiosKlicker-client/style.css")
    link(rel="stylesheet", href="stylesheets/KoiosKlicker-client/animated_background.css")
    script(src="javascripts/KoiosKlicker-client/KoiosKlickerGameClient.js")
  body(onload="loadGame('" + gameID + "', '" + firstName + "');")
    div(id="clicker_game")
      ul.circles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li